.footer {
  background-color: black;
  grid-area: footer;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  grid-template-areas: 'footer-info suggestions suggestions socials';

  &__footer-info {
    // padding-top: 10px;
  }

  &__suggestions {
    // padding-top: 10px;
  }
}
