// colors
$white: #fff;
$white-darkest: #f2f2f3;
$black: #1c1819;
$blue-primary: #2a81dd;
$border-color: #1c18191a;
$gray: #616161;
$orange: #ffa600;
$black: #1c1819;
$red: #f33;
$light-blue: #f0fafd;
$blue-lighter: #d6ecfb;
$blue-darkest: #00458a;
$milk: #efe8d8;
$gray-lighest: #d4d4da;
$light-grey: #c0bebe;
$gray:#888b94;
